In [3]:
import cv2
import os
import numpy as np
import pandas as pd
import pytesseract
from pytesseract import Output
import matplotlib.pyplot as plt
pytesseract.pytesseract.tesseract_cmd="/home/aman/anaconda3/envs/tallyInvoiceParser.env/bin/tesseract"
os.environ['TESSDATA_PREFIX'] = "/home/aman/anaconda3/envs/tallyInvoiceParser.env/share/tessdata"
os.environ['MLIR_CRASH_REPRODUCER_DIRECTORY']='tensorflow/compiler/mlir/tensorflow/utils/dump_mlir_util.cc:269'
import import_ipynb
from imagePreProcessor import *
import math
from sklearn.model_selection import train_test_split
import keras
from keras import models
from keras.models import Sequential
from keras.layers import Dense, ReLU, activation, Dropout
import tensorflow as tf
import datefinder
import dateparser

In [4]:
pwd

'/home/aman/Documents/Tally/Git-Document-AI/Document-AI/SellerNameModel'

In [5]:
os.chdir('/home/aman/Documents/Tally/Git-Document-AI/Document-AI/SellerNameModel/Dataset/')

In [7]:
df = pd.read_csv("dataset.csv")

In [8]:
df.shape

(64, 31)

In [9]:
df.describe()

,Unnamed: 0,conf,x,y,PageWidth,PageHeight,seller,buyer,receiver,bill,...,client,owner,invoice,for,billing,store,information,receipt,recipient,output
count,64.000000,64.000000,64.000000,64.000000,64.000000,64.00000,64.000000,64.0,64.000000,64.000000,...,64.000000,64.0,64.000000,64.000000,64.000000,64.0,64.000000,64.000000,64.0,64.000000
mean,31.500000,87.529906,667.265344,1003.003344,1684.187500,2293.31250,0.004950,0.0,0.005361,0.016716,...,0.005842,0.0,0.112665,0.076581,0.000740,0.0,0.005364,0.003099,0.0,0.421875
std,18.618987,15.227195,368.341824,698.961683,119.949708,127.08226,0.039601,0.0,0.030087,0.089608,...,0.027629,0.0,0.141965,0.129818,0.004153,0.0,0.030100,0.017391,0.0,0.497763
min,0.000000,20.509868,170.250000,45.625000,1653.000000,1654.00000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
25%,15.750000,86.107385,370.375000,342.559152,1653.000000,2337.00000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
50%,31.500000,92.740324,593.910714,910.125000,1654.000000,2339.00000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.086557,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
75%,47.250000,95.160755,920.940341,1619.062500,1654.000000,2339.00000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.171338,0.101998,0.000000,0.0,0.000000,0.000000,0.0,1.000000
max,63.000000,96.875511,1442.250000,2164.000000,2339.000000,2339.00000,0.316808,0.0,0.171564,0.511185,...,0.174164,0.0,0.584646,0.518143,0.023683,0.0,0.171640,0.099171,0.0,1.000000

In [10]:
len(df["imageName"].unique())

18

In [11]:
def preProcess(df):
    df["isLeft"] = 0
    df["isRight"] = 0
    df["isBottom"] = 0
    df["isTop"] = 0
    for index in df.index:
        
        x = df["x"][index]
        y = df["y"][index]
        X = df["PageWidth"][index]
        X = X/2
        Y = df["PageHeight"][index]
        Y = Y/2
        
        text = df["text"][index]
        date = list(datefinder.find_dates(text))[0]
        
        if x<X:
            df["isLeft"][index]=1
        elif x>=X:
            df["isRight"][index]=1
            
        if y<Y:
            df["isBottom"][index]=1
        elif y>Y:
            df["isTop"][index]=1
            
        
            
    df["x"]/=df["PageWidth"]
    df["y"]/=df["PageHeight"]
    
    colsToDrop = ["Unnamed: 0", "imageName", "text", "PageHeight", "PageWidth", "conf"]
    df.drop(columns=colsToDrop, inplace=True)

In [12]:
preProcess(df)

IndexError: list index out of range

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df.corr()

In [ ]:
df.shape

In [ ]:
len(df[df["output"]==0])

In [ ]:
len(df[df["output"]==1])

In [ ]:
def extractData(df):
    train, test = train_test_split(df, test_size=0.2, random_state=42, shuffle=True)
    xTrain = train.drop(columns = ["output"]).to_numpy()
    xTest = test.drop(columns = ["output"]).to_numpy()
    yTrain = train["output"].to_numpy()
    yTest = test["output"].to_numpy()
    return xTrain, yTrain, xTest, yTest

In [ ]:
xTrain, yTrain, xTest, yTest = extractData(df)

In [ ]:
xTrain.shape

In [ ]:
xTest.shape

In [ ]:
yTrain.shape

In [ ]:
yTest.shape

In [ ]:
model = keras.Sequential([
    keras.layers.Dense(32, input_shape=(17, ), activation='relu'),
    keras.layers.Dense(32, activation='relu'),
    keras.layers.Dense(1, activation = 'sigmoid')
])

In [ ]:
model.summary()

In [ ]:
model.compile(optimizer='adam',
              loss="binary_crossentropy",
              metrics=["accuracy", 'Precision', "Recall", "TruePositives", "TrueNegatives", "FalsePositives", "FalseNegatives"])

In [ ]:
history = model.fit(xTrain, yTrain,
          epochs=300, batch_size=2)

In [ ]:
plt.plot(history.history['accuracy'])
plt.plot(history.history['loss'])
plt.title('model accuracy')
plt.legend(["accuracy", "loss"])
plt.ylabel('accuracy / loss')
plt.xlabel('epoch')
plt.show()

In [ ]:
model.evaluate(xTest, yTest)

In [ ]:
pwd

In [ ]:
os.chdir('/home/aman/Documents/Tally/Git-Document-AI/Document-AI/InvoiceDateModel/Models/')

In [ ]:
model.save("InvoiceDate.h5")