In [1]:
import pandas as pd
import numpy as np
import os
from IPython.display import clear_output
import warnings
warnings.filterwarnings("ignore")
from sklearn.utils import shuffle

In [2]:
df = pd.read_csv("Datasets/DBSCAN2.csv")
df.drop(columns=["Unnamed: 0"], inplace=True)
df["class"] = -1
df

,conf,text,x,y,imageName,class
0,75.381990,"ie /, FIESTA VACATIONS PVT LTD Wf #18 Old No.1...",0.403564,0.155714,/home/aman/Documents/Tally/Git-Document-AI/Doc...,-1
1,91.216566,No. FVPL/2022-23/215 No.,1.238416,0.173714,/home/aman/Documents/Tally/Git-Document-AI/Doc...,-1
2,95.861199,4800 Buyer's,0.935842,0.262857,/home/aman/Documents/Tally/Git-Document-AI/Doc...,-1
3,79.497434,Buyer (Bill to) i MRS.DHANALAKSHMI,0.198812,0.364571,/home/aman/Documents/Tally/Git-Document-AI/Doc...,-1
4,70.364592,to) MRS.DHANALAKSHMI,0.330297,0.393714,/home/aman/Documents/Tally/Git-Document-AI/Doc...,-1
...,...,...,...,...,...,...
1914,91.283197,CGST FnB SGST FnB,0.348627,1.175696,/home/aman/Documents/Tally/Git-Document-AI/Doc...,-1
1915,95.852306,9% 9%,0.623137,1.311601,/home/aman/Documents/Tally/Git-Document-AI/Doc...,-1
1916,95.025364,Room In,0.369804,1.347414,/home/aman/Documents/Tally/Git-Document-AI/Doc...,-1
1917,93.547289,Room Charge Food Juices,0.474118,1.347414,/home/aman/Documents/Tally/Git-Document-AI/Doc...,-1
1918,94.109871,06-03-23 SGST FnB 9% 06-03-23 Dinning Room Foo...,0.404314,1.551576,/home/aman/Documents/Tally/Git-Document-AI/Doc...,-1

In [3]:
classes = {"id" : "invoiceDetails", "sd" : "sellerDetails", "bd" : "buyerDetails", "am" : "amount", "m" : "misc"}

In [4]:
for index in df.index:
    print(index)
    print(df["text"][index])
    c = input("Enter class : ")
    df["class"][index] = classes[c]
    clear_output(wait=False)

In [5]:
df

,conf,text,x,y,imageName,class
0,75.381990,"ie /, FIESTA VACATIONS PVT LTD Wf #18 Old No.1...",0.403564,0.155714,/home/aman/Documents/Tally/Git-Document-AI/Doc...,sellerDetails
1,91.216566,No. FVPL/2022-23/215 No.,1.238416,0.173714,/home/aman/Documents/Tally/Git-Document-AI/Doc...,misc
2,95.861199,4800 Buyer's,0.935842,0.262857,/home/aman/Documents/Tally/Git-Document-AI/Doc...,misc
3,79.497434,Buyer (Bill to) i MRS.DHANALAKSHMI,0.198812,0.364571,/home/aman/Documents/Tally/Git-Document-AI/Doc...,buyerDetails
4,70.364592,to) MRS.DHANALAKSHMI,0.330297,0.393714,/home/aman/Documents/Tally/Git-Document-AI/Doc...,buyerDetails
...,...,...,...,...,...,...
1914,91.283197,CGST FnB SGST FnB,0.348627,1.175696,/home/aman/Documents/Tally/Git-Document-AI/Doc...,misc
1915,95.852306,9% 9%,0.623137,1.311601,/home/aman/Documents/Tally/Git-Document-AI/Doc...,misc
1916,95.025364,Room In,0.369804,1.347414,/home/aman/Documents/Tally/Git-Document-AI/Doc...,misc
1917,93.547289,Room Charge Food Juices,0.474118,1.347414,/home/aman/Documents/Tally/Git-Document-AI/Doc...,misc
1918,94.109871,06-03-23 SGST FnB 9% 06-03-23 Dinning Room Foo...,0.404314,1.551576,/home/aman/Documents/Tally/Git-Document-AI/Doc...,misc

In [6]:
for value in classes.values():
    print(value, " : ", len(df[df["class"]==value]))

invoiceDetails  :  23
sellerDetails  :  45
buyerDetails  :  42
amount  :  68
misc  :  1741

In [12]:
df = df[(df["class"]=="invoiceDetails") | (df["class"]=="sellerDetails") | (df["class"]=="buyerDetails") | (df["class"]=="amount")]

In [14]:
for value in classes.values():
    print(value, " : ", len(df[df["class"]==value]))

invoiceDetails  :  23
sellerDetails  :  45
buyerDetails  :  42
amount  :  68
misc  :  0

In [15]:
pwd

'/home/aman/Documents/Tally/Git-Document-AI/Document-AI/DynamicZonalOCR'

In [16]:
os.chdir('/home/aman/Documents/Tally/Git-Document-AI/Document-AI/DynamicZonalOCR/Datasets')

In [17]:
df.to_csv("Classification2.csv")